In [9]:
import pandas as pd

In [10]:
df1 = pd.read_excel("Naives1.xlsx")

In [11]:
df1.head()

    Color    Type    Origin Stolen
0     Red  Sports  Domestic    Yes
1     Red  Sports  Domestic     No
2     Red  Sports  Domestic    Yes
3  Yellow  Sports  Domestic     No
4  Yellow  Sports  Imported    Yes

In [12]:
df1.isna()

   Color   Type  Origin  Stolen
0  False  False   False   False
1  False  False   False   False
2  False  False   False   False
3  False  False   False   False
4  False  False   False   False
5  False  False   False   False
6  False  False   False   False
7  False  False   False   False
8  False  False   False   False
9  False  False   False   False

In [13]:
# Defining the test cases
test_instance = {
    'Color' : 'Red',
    'Type' : 'SUV',
    'Origin' : 'Domestic'
}

In [14]:
total_yes = len(df1[df1['Stolen'] == 'Yes'])
total_no = len(df1[df1['Stolen'] == 'No'])
total = len(df1)

p_yes = total_yes / total
p_no = total_no / total

In [15]:
def conditionProbability(column, value, label):
    subset = df1[df1['Stolen'] == label]
    match_count = len(subset[subset[column] == value])
    return match_count / len(subset)

In [16]:
p_color_yes = conditionProbability('Color', test_instance['Color'], 'Yes')
p_type_yes = conditionProbability('Type', test_instance['Type'], 'Yes')
p_origin_yes = conditionProbability('Origin', test_instance['Origin'], 'Yes')

p_total_yes = p_yes * p_color_yes * p_type_yes * p_origin_yes

In [17]:
p_color_no = conditionProbability('Color', test_instance['Color'], 'No')
p_type_no = conditionProbability('Type', test_instance['Type'], 'No')
p_origin_no = conditionProbability('Origin', test_instance['Origin'], 'No')

p_total_no = p_no * p_color_no * p_type_no * p_origin_no

In [18]:
prediction = 'Yes' if p_total_yes > p_total_no else 'No'

print("Probability of Stolen = Yes:", p_total_yes)
print("Probability of Stolen = No:", p_total_no)
print("Prediction:", prediction)

Probability of Stolen = Yes: 0.024
Probability of Stolen = No: 0.072
Prediction: No